<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../publicTemplates/head.ejs') %>
</head>
<body class="todo-mvc">
  <div class="todo-mvc__container">
    <%- include('./header.ejs') %>

    <%- include('./main.ejs') %>
  </div>
  <%- include('./footer.ejs') %>
</body>
</html>