<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/todo-mvc">戳我去todoMvc页</a></li>
      <li><a href="/list">戳我去List页</a></li>
      <li><a href="/image">戳我去Image页</a></li>
    </ul>
  </nav>
  <h1>这是<%= title %>页</h1>
  <% var list = ls %>
  <%- include('list', { list: list }); %>
  <button id="increase">点我加1</button>
  <div>
    <span id="result">0</span>
  </div>
</body>
</html>