<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../publicTemplates/head.ejs') %>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/todo-mvc">戳我去todoMvc页</a></li>
      <li><a href="/list">戳我去List页</a></li>
      <li><a href="/image">戳我去Image页</a></li>
    </ul>
  </nav>
  <h1>这是<%= title %>页</h1>
  <!-- 这里有很多注释 -->
  <% var list = ls %>
  <%- include('list', { list: list }); %>
  <button class="btn btn-primary" id="increase">点我加1</button>
  <button class="btn btn-success" id="dialog">显示对话框</button>
  <div>
    <span id="result">0</span>
  </div>

  <%- include('../../../publicTemplates/dropdown/index.ejs') %>

  <span class="fa fa-user"></span>
</body>
</html>